* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
  
::-webkit-scrollbar-track {
    background: transparent;
}
  

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffffff27;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: radial-gradient(circle, #000033, #000000, #111111);
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 30px 120px;
    z-index: 100 !important;
    position: fixed;
}

header > img {
    width: 45px;
    height: 45px;
}

header > h4 {
    font-size: 2.2rem;
    color: #fff;
    margin-left: 10px;
}

header > nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header > nav > a {
    color: #fff;
    font-size: 1.3rem;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

header > .menu {
    display: none;
    -webkit-tap-highlight-color: transparent;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 120px;
    padding-top: 150px;
}

section {
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section > .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section > .content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(1);
    transform: scaleX(-1);
}

section > .content > h1 {
    width: 100%;
    text-align: left;
    font-size: 6rem;
    color: #fff;
}

section > .content > p {
    width: 100%;
    text-align: left;
    font-size: 1.3rem;
    color: #fff;
    margin-top: 20px;
}

section > .cards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
}

section > .cards > .card {
    width: 100%;
    min-width: 223px;
    height: 100px;
    background: #ffffff0c;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

section > .cards > .card:hover {
    background: #ffffff1f;
}

section > .cards > .card > img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}

section > .cards > .card > .info {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section > .cards > .card > .info > h3 {
    font-size: 1.3rem;
    color: #fff;
    margin-left: 20px;
    width: 100%;
    text-align: left;
}

section > .cards > .card > .info > p {
    font-size: 0.8rem;
    color: #fff;
    margin-left: 22px;
    width: 100%;
    text-align: left;
}

.cards_section {
    max-height: 250px;
}

@keyframes sildein {
    0% {
        bottom: -150px;
    }
    100% {
        bottom: 0;
    }
}

.modal {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    position: fixed;
    background: rgba(0, 0, 0, 0.075);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000 !important;
    border-radius: 20px 20px 0 0;
    transition: 0.5s;
    animation: sildein 0.5s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.modal > ul {
    width: 100%;
    height: max-content;
    padding: 0 60px;
}

.modal > ul > li {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal > ul > li > a {
    color: white;
    font-size: 1.3rem;
    padding: 15px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    header {
        height: 80px;
        padding: 0 30px;
    }

    header > img {
        width: 30px;
        height: 30px;
    }

    header > h4 {
        font-size: 1.3rem;
    }

    header > nav {
        display: none;
    }

    header > .menu {
        display: block;
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
        width: 100%;
        text-align: right;
    }
    header > .menu > i {
        padding: 10px;
    }

    .container {
        padding: 0 30px;
        padding-top: 150px;
    }

    section > .content > h1 {
        font-size: 3rem;
    }

    section > .content > p {
        font-size: 1rem;
    }

    .content_section {
        flex-direction: column;
    }

}