@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff27;
}

body {
  background: radial-gradient(circle, #000033, #000000, #111111);
}

@keyframes sildein {
  0% {
    bottom: -150px;
  }
  100% {
    bottom: 0;
  }
}

.slide-in {
  animation: sildein 0.5s ease-in-out;
}

.remove-highlight {
  -webkit-tap-highlight-color: transparent;
}
