@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff27;
}

body {
  background: radial-gradient(circle, #000033, #000000, #111111);
}
/*
section > .content > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(1);
  transform: scaleX(-1);
}

section > .cards > .card > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 50%;
}
*/
