---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="darkreader-lock" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lato&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Neobrains is where innovation meets implementation. Our community of passionate individuals Brainstorm, Build, Succeed. From simple tools to complex software solutions, our projects showcase our commitment to collaboration and hard work. Join us and be a part of something great."
    />
    <meta name="og:title" content={title} />
    <meta
      name="og:description"
      content="Neobrains is where innovation meets implementation. Our community of passionate individuals Brainstorm, Build, Succeed. From simple tools to complex software solutions, our projects showcase our commitment to collaboration and hard work. Join us and be a part of something great."
    />
    <meta
      name="keywords"
      content="neobrains github organisation brainstorm build succeed Jnsougata Ayush Sehrawat developers"
    />
    <meta
      name="og:image"
      content="https://neobrains.me/neobrains-rounded.png"
    />
    <meta property="og:image:width" content="500" />

    <meta property="og:image:height" content="500" />
    <meta name="og:url" content="https://neobrains.me" />
    <meta name="og:site_name" content="Neobrains" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="
      twitter:title" content={title} />
    <meta
      name="Neobrains is where innovation meets implementation. Our community of passionate individuals Brainstorm, Build, Succeed. From simple tools to complex software solutions, our projects showcase our commitment to collaboration and hard work. Join us and be a part of something great."
    />
    <meta
      name="twitter:image"
      content="https://neobrains.me/neobrains-rounded.png"
    />
    <meta name="twitter:image:alt" content="Neobrains Logo" />
    <meta name="twitter:domain" content="neobrains.me" />
    <meta name="twitter:label1" content="Organization" />
    <meta name="twitter:data1" content="Neobrains" />
    <meta name="twitter:label2" content="Location" />
    <meta name="twitter:data2" content="India" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Neobrains</title>
    <link rel="icon" href="./neobrains-rounded.png" />
  </head>
  <body class="font-exo-2 h-full w-full overflow-x-hidden overflow-y-auto">
    <slot />
    <script src="../scripts/script.js"></script>
    <style is:global>
      ::-webkit-scrollbar {
        width: 5px;
        height: 4px;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #ffffff27;
      }

      body {
        background: radial-gradient(circle, #000033, #000000, #111111);
      }

      @keyframes sildein {
        0% {
          bottom: -150px;
        }
        100% {
          bottom: 0;
        }
      }

      .slide-in {
        animation: sildein 0.5s ease-in-out;
      }

      .remove-highlight {
        -webkit-tap-highlight-color: transparent;
      }
    </style>
  </body>
</html>
