---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="darkreader-lock" />

    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Neobrains is a community of innovators who collaborate to create and implement software solutions. We are committed to hard work and success. Join us to be part of something great."
    />
    <meta name="og:title" content={title} />
    <meta
      name="og:description"
      content="Neobrains is a community of innovators who collaborate to create and implement software solutions. We are committed to hard work and success. Join us to be part of something great."
    />
    <meta
      name="keywords"
      content="neobrains github organisation brainstorm build succeed Jnsougata Ayush Sehrawat developers"
    />
    <meta
      name="og:image"
      content="https://neobrains.dev/neobrains-rounded.png"
    />
    <meta
      name="theme-color"
      content="radial-gradient(circle, #000033, #000000, #111111)"
    />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta name="og:url" content="https://neobrains.dev" />
    <meta name="og:site_name" content="Neobrains" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="
      twitter:title" content={title} />
    <meta
      content="Neobrains is a community of innovators who collaborate to create and implement software solutions. We are committed to hard work and success. Join us to be part of something great."
    />
    <meta
      name="twitter:image"
      content="https://neobrains.dev/neobrains-rounded.png"
    />
    <meta name="twitter:image:alt" content="Neobrains Logo" />
    <meta name="twitter:domain" content="neobrains.dev" />
    <meta name="twitter:label1" content="Organization" />
    <meta name="twitter:data1" content="Neobrains" />
    <meta name="twitter:label2" content="Location" />
    <meta name="twitter:data2" content="India" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>Neobrains</title>
    <link rel="icon" href="./neobrains-rounded.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-exo-2 h-full w-full overflow-x-hidden overflow-y-auto">
    <slot />
    <script src="../scripts/script.js"></script>
    <style is:global>
      * {
        -webkit-tap-highlight-color: transparent;
      }

      body {
        background: radial-gradient(circle, #000033, #000000, #111111);
      }

      @keyframes sildein {
        0% {
          bottom: -150px;
        }
        100% {
          bottom: 0;
        }
      }

      .slide-in {
        animation: sildein 0.5s ease-in-out;
      }

      #cards {
      }

      #cards:hover > .card::after {
        opacity: 1;
      }

      .card {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        cursor: pointer;
        position: relative;
      }

      .card:hover::before {
        opacity: 1;
      }

      .card::before,
      .card::after {
        border-radius: inherit;
        content: "";
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        transition: opacity 500ms;
        width: 100%;
      }

      .card::before {
        background: radial-gradient(
          600px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.06),
          transparent 90%
        );
        z-index: 3;
      }

      .card::after {
        background: radial-gradient(
          400px circle at var(--mouse-x) var(--mouse-y),
          rgba(255, 255, 255, 0.1),
          transparent 90%
        );
        z-index: 1;
      }
    </style>
    <!-- 100% privacy-first analytics -->
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
  </body>
</html>
